openapi: 3.0.3
info:
  title: 0xCast Prediction Market API
  description: |
    API documentation for 0xCast prediction market platform.
    This API provides access to market data, user interactions, and contract functions.
  version: 1.0.0
  contact:
    name: 0xCast Team
    url: https://github.com/0xcast
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.mainnet.hiro.so
    description: Mainnet API
  - url: https://api.testnet.hiro.so
    description: Testnet API

tags:
  - name: Markets
    description: Market data and operations
  - name: Staking
    description: Staking operations
  - name: Predictions
    description: Prediction operations
  - name: Governance
    description: Governance operations
  - name: User
    description: User data and operations

paths:
  /v2/contracts/call-read/{contract_address}/{contract_name}/{function_name}:
    post:
      tags:
        - Markets
      summary: Read contract data
      description: Call a read-only contract function
      operationId: callReadOnlyFunction
      parameters:
        - name: contract_address
          in: path
          required: true
          schema:
            type: string
          example: SP2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKNRV9EJ7
        - name: contract_name
          in: path
          required: true
          schema:
            type: string
          example: oxcast
        - name: function_name
          in: path
          required: true
          schema:
            type: string
          example: get-market
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sender:
                  type: string
                  example: SP2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKNRV9EJ7
                arguments:
                  type: array
                  items:
                    type: string
                  example: ["0x0100000000000000000000000000000001"]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractCallResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Market:
      type: object
      properties:
        id:
          type: integer
          example: 1
        question:
          type: string
          example: "Will Bitcoin reach $100k by end of 2024?"
        creator:
          type: string
          example: SP2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKNRV9EJ7
        status:
          type: string
          enum: [active, resolved, cancelled]
          example: active
        outcome:
          type: string
          enum: [unresolved, yes, no]
          example: unresolved
        totalYesStake:
          type: number
          example: 1000
        totalNoStake:
          type: number
          example: 500
        createdAt:
          type: integer
          example: 1000
        endDate:
          type: integer
          example: 2000

    ContractCallResponse:
      type: object
      properties:
        okay:
          type: boolean
        result:
          type: string

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
